body{
    margin: 0%;
}

.container{
    display: flex;
    gap: 40px;
    margin: 20px;
    height: 500px;
}

.container .l{
    width: 30%;
    

}


.container .r{
    width: 70%;
}


.container .r .rc{
    background-color: rebeccapurple;
    height: 100%;
}

.container .l .lc{
    background-color: brown;
    height: 100%;

}

.container .l img {
   background-color: azure;
}

