*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}


body{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

table{
    margin: 20px;

}

table td{
    width: 175px;
    height: 175px;
    background-color: aquamarine;
    text-align: center;
    border-radius: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;

    
}



td:hover{
    background-color: darkcyan;
    transition: ease 0.5s;
    cursor: pointer;
}


.players{
    width: 10%;
    display: flex;
    align-self: center;
    justify-content: center;
    gap: 50px;

}

.p1 ,.p2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    color: royalblue;
}

.p2{
    color: red;
}


.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 55px;

}

button{
    padding: 25px;
    background-color: rgb(243, 209, 14);
    border-radius: 5px;
    border: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
button:hover{
   cursor: pointer;
    background-color: rgb(250, 233, 85);
    transition: ease 0.5s;

    
}

#winner_lab{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    color: royalblue;

    
}